

header{
    padding: .3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: -moz-linear-gradient(bottom, #000000 0%, #000000 100%);
    background: -webkit-linear-gradient(bottom, #000000 0%,#000000 100%);
    background: linear-gradient(to top, #00000000 0%,#000000 100%);
}

header nav ul li {
    border-radius: .2rem;
    margin: 0 0.3rem;
}

header nav ul li:hover{
    transition: 0.3s;
    background-color: #65002589;
    text-shadow: none;
}

.switch-theme{
    cursor: pointer;
}

.imagem-fundo{
    position: relative;
    top: -90px;
    margin: 0 auto;
    width: 100vw;
    background: url("../gifs/background.gif");
    background-position: center;
}

.pc{
    height: 40vh;
}

.mbl{
    height: 20vh;
}

.imagem-fundo::after{
    background: linear-gradient(to bottom, transparent 0%,#141619 100%);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.fundo-main{
    width: 100vw;
}


footer,.contato, #copy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem 2rem;
    align-items: center;
}

#copy p{
    margin: 0 ;
}
.contato{
    font-weight: 700;
    width: 40vw;
}

footer ul li{
    margin: 0 0.5rem;

}

footer a{
    margin-left: 0.3rem;
    color: #626370;
}

footer a:hover{
    text-decoration: underline;
}

footer ul{
    list-style: none;
}